AuthUserFile /home/xs273754/xs273754.xsrv.jp/public_html/himarin_clinic/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
<Files ~ "^.(htpasswd|htaccess)$">
  deny from all
</Files>